<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= user.username || "User" %>!</h1>
  <form action="/logout" method="GET">
    <button type="submit">Logout</button>
  </form>
</body>
</html>


<!--task nimo bub-->
<!-- i balhin ang dashboard na code here tong sa index.html add button sa sidebar "logout button" sundoga giunsa pag code sa taas ang logout feature -->